<p><%= image_tag furniture.avatar.url, :class => "the_images" %></p>
        <p>Title: <%= furniture.title %></p>
        
        
        <p>Price:<%= furniture.price %></p>
       
        <p>Delivery?<%= furniture.delivery %></p>

       <!--  user cant see more details unless signed in  -->

        
