<div class="container">

<p id="notice"><%= notice %></p>

  <!-- how it works -->
<div class="row topics">
    <h2>How it works</h2>
</div>


  <%= render 'layouts/howitworks' %>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>

</div>