

<p id="notice"><%= notice %></p>

<div class="general_navbar">
<%= render 'layouts/navbar' %>
</div>

<div class="container">

  <!-- how it works -->
<div class="row topics">
    <h2>How it works</h2>
</div>


  <%= render 'layouts/howitworks' %>



</div>