/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin: 0;
	padding: 0;	

}

body{
	background-color: #F3F4F8;
	font-family: 'Slabo 27px', serif;
	
}

.container{
    text-align: center;
    font-family: 'Slabo 27px', serif;

}

.furnix_navbar{
	  background-color: transparent;
      border-color: transparent;
      text-decoration: none;

}

#logo{
	color:white;
	font-size: 35px;
	font-family: 'Slabo 27px', serif;

}

.navbar-default .navbar-nav>li>a{
	color: white;
	font-size: 14px;

     font-family: 'Slabo 27px', serif;
}



.the_head{
   background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ), url('/products.jpg');
   text-align: center;
   background-size:cover;
   background-repeat: no-repeat;
   color: white;
   height: 300px;
   font-family: 'Slabo 27px', serif;
   width:100%;
  
}

.the_images{
	max-width: 100%;
	height: 200px;
	

}

.the_box{
	padding: 2%;
	font-family: 'Slabo 27px', serif;
}



.borders{
	border-style: groove;
	min-height: 200px;
}



#footers{
	background-color: #366775;
	text-align: center;
	width: 100%;
}



footer img{
    height: 30px;
    width: 30px;
    margin: 30px 10px;

}