// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_page{
	
   
   
   background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/homeg.jpg');
   text-align: center;
   background-size:cover;
   background-repeat: no-repeat;
   color: white;
   height: 680px;
   
   width:100%;
   font-family: 'Slabo 27px', serif;

  


}



#main_page h2{
	
  text-align: center;
  font-size: 50px;
  margin-top: 15%;


}

.howitworks h2{
   font-size: 40px;
}

.howitworks{
   margin-top: 5%;
}

#selected{
  height: 70px;
  width: 200px;
  background-color: #366775;
  text-decoration: none;
  color: white;
  padding-top: 15%;
}






