// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.furnix-navbar {
  margin: 5px 0 -15px 0;  
  .navbar-default {    
    border-color: transparent;
    a#logo {
      color: #366775;
      font-size: 32px;
    }

    .navbar-nav > li > a {
     color: #366775;
     font-size: 15px;
     margin-right: 2%;
    }
  }

   a.btn.sign-up {
        padding: 12%;
        margin-top: 7%;
  }

  .navbar-right {
    margin-right: 15px;
 }
}


.the-couresel {
    .item {
      img {
        width: 100%;
        height: 400px;
      }
    }
}

.text-center {
  margin-left: 7%;
}

.menu-bar {
  border-top: solid 1px #366775;
  border-bottom: solid 1px #366775;
  margin: 2% 0;
}

.content-row {
  min-height: 65px;
}