<div>
  <% if comment.user %>
  <h4><%= comment.user.name %> Says: </h4>
  <% end %>
  <p class="comment"><%= comment.body %></p>
  <% if comment.created_at > Time.now.beginning_of_day %>
    <%="#{time_ago_in_words(comment.created_at)} ago"%>  
<% else %>
    <%= comment.created_at.strftime("%b %d, %Y") %> 
<% end %>
</div>