<div class="row">
<div class="cd-gallery-container">
		<nav class="cd-filter">
			<ul>
				<li class="placeholder"> 
					<a data-type="red" href="#0">Red</a> <!-- selected option on mobile -->
				</li> 

				<li>
					<a class="selected" id="selected" data-type="red" href="#0">Buyer</a>
				</li>

				<li>
					<a id="selected" data-type="blue" href="#0">Seller</a>
				</li>

				
			</ul>
		</nav>

		<ul class="cd-gallery cd-container ">
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">

					   <div class="col-md-4 borders">
						<h3>
    			            Browse through products
    		            </h3>

    		            </div>


					</li>

					<li data-type="blue" class="is-hidden">
						<div class="col-md-4 borders">
					    		<h3>
					    			Sign Up or Login
					    		</h3>
    	                </div>
					</li>

					
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
					  <div class="col-md-4 borders">
						<h3>Sign Up or Login</h3>

						</div>
					</li>

					<li data-type="blue" class="is-hidden">
						<div class="col-md-4 borders">
    		               <h3>Open a shop</h3>
    	                 </div>
					</li>
					
					
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<div class="col-md-4 borders">
						  <h3>
    			             Engage Seller
    		              </h3>
    		              </div>
					</li>

					<li data-type="blue" class="is-hidden">
						<div class="col-md-4 borders">
    		                <h3>Upload products</h3>
    	                 </div>
					</li>
					
					
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<div class="col-md-4 borders">
						  <h3>
    			             Buy
    		              </h3>
    		              </div>
					</li>

					<li data-type="blue" class="is-hidden">
						<div class="col-md-4 borders">
    		                <h3>Sell</h3>
    	                 </div>
					</li>
					
					
				</ul>
			</li>

			
		</ul> <!-- cd-gallery -->
	</div> <!-- cd-gallery-container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Gem jQuery -->

</div>